# Neon PostgreSQL Database URL
DATABASE_URL=

# Razorpay Online Payment Gateway
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=...
RAZORPAY_WEBHOOK_SECRET=...

# Email configuration
BREVO_API_KEY=
EMAIL_FROM=RIOTOUS <order@riotous.store>
EMAIL_MODE=production
RESEND_API_KEY=
RETURN_EMAIL_FROM=